.wrapper {
  margin: 20px;
  color: #444;
  font-weight: 500;

  h2 {
    margin: 30px 0 10px 0;
    font-size: 18px;
    font-weight: 500;
  }

  table {
    margin: 0 0 40px 0;

    td, th {
      padding: 4px 16px;

      &:first-child {
        padding-left: 0px;
      }
    }
  }

  .stockList {
    margin-top: 40px;

    > li {
      margin-top: 60px;

      .title {
        display: flex;
        margin-bottom: 20px;
        font-size: 22px;

        button {
          margin-left: 40px;
        }
      }

      .transaction {
        display: flex;
        margin: 20px 0;

        @media (max-width: 1024px) {
          flex-direction: column;

          button {
            width: 400px;
          }
        }

        .select {
          margin-right: 20px;
          margin-bottom: 6px;
          width: 400px;
        }

        .inputFieldWrapper {
          margin-right: 20px;
          margin-bottom: 6px;
          width: 400px;
        }
      }

      .currentHolding {
        margin-bottom: 40px;
      }
    }
  }
}

strong {
  font-weight: bold;
  color: rgba(37,173,182,1);
}
